@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@1,300&family=Manrope:wght@300&family=Palette+Mosaic&display=swap');
*{margin: 0; padding: 0; box-sizing: border-box;}
body{font:16px helvetica, sans-serif; }
a{text-decoration: none !important;}
img{vertical-align: bottom;}
.navbar-brand{font-size:1.9rem !important; font-family: 'Manrope', sans-serif;}
.navbar-brand  span{color: blue; font-size: 1.4rem;}
.nav-item{color: #000 !important ; font-size: 1.3rem; text-align: center;}
.active_class{color: blue !important; border-bottom:2px solid blue;}
#header{height: 75vh; width: 100%; margin-top: 70px;}
.home_l h2{font-size: 2.6rem;}
.home_l h2 strong{color: blue; font-weight: 500;}
.home_l p{font-size: 1.4rem;} 
.btn_get_started{border: 2px solid blue; display:inline-block; border-radius: 30px; padding: 10px 30px; background: transparent; transition: 0.5s;;}
.btn_get_started:hover{color: #fff ; background: blue; transition: 1s;}
.btn_get_started:hover a{color: #fff;}
.home_l a{font-size: 1.3rem; color:blue; letter-spacing: 1px;}
.header_img{text-align: right; }
.footer{color: #fff; background-color: rgb(87, 86, 86);}
.animated{animation: up-down 0.8s infinite alternate-reverse ease-in-out both;}
@keyframes up-down{0%{padding-top: 10px;}100%{padding-top: -10px;}}
@-webkit-keyframes up-down{0%{padding-top: 10px;}100%{padding-top: -10px;}}


@media screen and (max-width: 991px){
    #header{height: 100vh; text-align: center};
    #header img{width: 60%;}
    .home_l{text-align: start;}
    .home_l h2{font-size:2.0rem !important}
    .active_class{border: 1px; background-color: rgb(190, 171, 233); border-radius: 10px; transition: 1s}
    .footer{display: none}
    .btn_get_started{padding:5px 25px}
};
@media screen and (max-width:768px){
    #header{margin-top: 20px;}
    .home_r{margin:40px }
    #header h1{font: 28px;}
    #header h2{font-size: 18px; margin-bottom: 30px;}
    #header img{width:70%;} 
    
}

